*{
    font-family: 'Nunito', sans-serif;
    outline: none;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
nav img{
    height: 25px;
}
nav .buttonMenu{
    font-size: 13px;
    padding: 5px 10px;
    border: 1px solid white;
    display: none;
}
nav .menu{
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
}
nav .menu li a{
    padding: 0px 20px;
    line-height: 60px;
    font-size: 13px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
}
nav .menu li.closed{
    display: none;
}
nav .menu li.closed a{
    font-size: 20px;
}
nav .menu li a.active{
    background-color: #82a0d6;
    border-radius: 0 0 5px 5px;
}
nav .menu li a.login{
    background: white;
    color: #82a0d6;
    line-height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.fa-user{
    margin-left: 5px;
}
#home{
    display: flex;
    min-height: 650px;
    background: url('assets/Hero_BG.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 90px 10px 10px 10px;
    justify-content: space-between;
}
.homeContent{
    padding: 20px;
    width: calc(50% - 40px);
}
.homeContent img{
    max-width: 100%;
}
.homeContent h1{
    font-size: 35px;
    color: white;
    margin-bottom: 5px;
    margin-top: 80px;
}
.homeContent p{
    color: white;
    margin-top: 5px;
}
.homeForm{
    display: flex;
}
.homeForm .homeInput{
    padding-right: 5px;
    flex: 2;
}
.homeForm .homeInput input{
    width: calc(100% - 110px);
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background: rgba(0, 0, 0, 0.5019607843137255);
    color: white;
    height: calc(2.25rem + 2px);
    box-sizing: border-box;
}
.homeForm .homeInput input::placeholder{
    color: white;
}
.homeForm .homeInput select{
    width: 100px;
    height: calc(2.25rem + 2px);
    font-size: 15px;
    border: none;
    background: rgba(0, 0, 0, 0.5019607843137255);
    color: white;
    border-radius: 5px;
    padding: 8px;
}
.homeForm .homeSubmit{
    padding-left: 5px;
    flex: 1;
}
.homeForm .homeSubmit button{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background: #82a0d6;
    border: none;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    height: calc(2.25rem + 2px)
}
#sc_1{
    padding: 10px 30px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
}
.caption{
    text-align: center;
}
.caption h1{
    margin-bottom: 0;
}
.caption p{
    margin-top: 0;
}
.sc_content{
    display: flex;
    flex-direction: row;
}
.sc_item{
    padding: 30px 30px;
    width: calc(50% - 30px);
    margin-top: 10px;
    position: relative;
}
.sc_item .sc_listItem{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.sc_item .sc_listItem .listItem_img{
    flex: 2;
    padding: 10px;
    text-align: center;
}
.sc_item .sc_listItem .listItem_img img{
    max-width: 100%;
}
.sc_item .sc_listItem .listItem_cap{
    flex: 10;
    padding: 10px;
}
.sc_item .sc_listItem .listItem_cap h3{
    margin: 0;
}
.sc_item .screen{
    max-width: 100%;
    width: 100%;
}
.sc_item .dot1{
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    transform: rotate(90deg);
}
.sc_item .dot2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px;
}
#sc_2{
    padding: 30px 60px;
    min-height: fit-content;
    background: aliceblue;
    display: flex;
    flex-direction: column;
}
.sc_card{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.sc_card .sc_cardItem{
    padding: 10px;
    width: calc(50% - 20px);
}
.sc_card .sc_cardItem .cardLeft, .sc_card .sc_cardItem .cardRight{
    padding: 20px;
}
.sc_card .sc_cardItem .cardLeft{
    background: #99a1ff;
}
.sc_card .sc_cardItem .cardRight{
    background: #303056;
}
.card-logo{
    display: flex;
    justify-content: space-between;
}
.card-logo .img-right{
    height: 80px;
}
.card-logo .kotak_1, .card-logo .kotak_2{
    height: 60px;
    width: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.card-logo .kotak_1{
    background: #303056;
}
.card-logo .kotak_2{
    background: #99a1ff;
}
.card-logo .kotak_1 img, .card-logo .kotak_2 img{
    height: 50px;
}
.cardText h3{
    margin-bottom: 0;
    color: white;
}
.cardText p{
    color: white;
}
.cardFooter{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.cardFooter .leardMore{
    color: #99a1ff;
    text-decoration: none;
    padding: 10px;
    background: white;
}
#sc_4{
    padding: 60px;
    background: aliceblue;
}
.responsive{
    margin-top: 40px;
}
.quote-slide{
    display: flex;
    padding: 15px;
}
.quote-slide .img-slide img{
    max-width: 100%;
    margin: auto;
}
.quote-slide .quotes{
    flex: 1;
}
.fa-star{
    color: orange;
}
#sc_3{
    padding: 30px 30px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
}
.price_content{
    display: flex;
    padding: 0 60px;
    margin-top: 60px;
    flex-wrap: wrap;
}
.price_content .price_item{
    width: calc(25% - 60px);
    margin: 0 15px;
    box-shadow: 0px 1px 10px 2px #d2d2d2;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    height: 320px;
    cursor: pointer;
    margin-bottom: 30px;
}
.price_content .price_item:hover{
    height: auto;
    border-top: 5px solid #99a1ff;
}
.price_content .price_item .the_price{
    margin-top: 70px;
}
.price_content .price_item .the_price span{
    font-size: 20px;
}
.price_content .price_item .item_plan{
    text-decoration: none;
    margin-top: 40px;
    padding: 10px;
    display: inline-block;
    background: aliceblue;
    color: #99a1ff;
}
#sc_5{
    padding: 30px 30px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
}
.client_content{
    display: flex;
    padding: 0 60px;
    margin-top: 60px;
}
.client_content .content_item{
    margin: 0 20px;
    width: calc(20% - 40px);
    text-align: center;
}
.client_content .content_item img{
    max-width: 100%;
}
.client_start{
    margin-top: 40px;
    text-align: center;
}
.client_start button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #99a1ff;
    color: white;
    font-size: 15px;
}
footer{
    display: flex;
    position: relative;
    min-height: fit-content;
    padding: 190px 30px 10px 30px;
    justify-content: space-between;
    flex-direction: column;
}
footer::before{
    content: "";
    background: url('assets/Hero_BG.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
    transform: rotate(180deg);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.content_footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content_footer .footer_menu{
    width: calc(25% - 40px);
    margin: 0 20px;
    margin-bottom: 20px;
}
.content_footer .footer_menu h4{
    color: white;
    margin-top: 0;
    margin: 0;
}
.content_footer .footer_menu ol{
    padding: 0;
    list-style: none;
}
.content_footer .footer_menu ol li{
    margin-bottom: 5px;
}
.content_footer .footer_menu ol li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.content_footer .footer_menu .footer_payment{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content_footer .footer_menu .footer_payment img{
    width: calc(20% - 10px);
    margin: 0 5px;
    height: 30px;
}
.content_footer .footer_menu .footer_payment .visa{
    height: 43px;
}
.content_footer .footer_service{
    width: calc(50% - 40px);
    margin: 0 20px;
    color: white;
    font-size: 13px;
}
.content_footer .footer_service.text-right{
    text-align: right;
}
.content_footer .footer_service img{
    height: 25px;
}
.content_footer .footer_service .social_media img{
    margin: 0 10px 10px 10px;
}
.content_footer .footer_service a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.slick-prev:before, .slick-next:before{
    color: #82a0d6;
}

/* Mobile style */
@media only screen and (max-width: 600px) {
    nav{
        padding: 10px;
    }
    nav .buttonMenu{
        display: block;
    }
    nav .menu{
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        background: #303056;
        z-index: 2;
        overflow: hidden;
        padding: 0;
        transition: all 1s;
        transform: translateX(100%);
        align-items: initial;
    }
    nav .menu.active{
        transform: translateX(0);
    }
    nav .menu li.closed{
        display: block;
    }
    .homeContent{
        width: 100%;
    }
    .imgDekstop{
        display: none;
    }
    .homeForm{
        flex-direction: column;
    }
    .homeForm .homeInput {
        padding-right: 0;
        flex: 2;
    }
    .homeForm .homeSubmit {
        padding-left: 0;
        flex: 1;
        margin-top: 20px;
    }
    .sc_content{
        flex-direction: column;
    }
    .sc_item{
        width: 100%;
        padding: 5px;
    }
    .dot1, .dot2{
        display: none;
    }
    #sc_2{
        padding: 5px;
    }
    .sc_card{
        flex-direction: column;
    }
    .sc_card .sc_cardItem{
        width: calc(100% - 20px);
    }
    .card-logo .img-right {
        height: 55px;
    }
    #sc_4 {
        padding: 40px;
    }
    .quote-slide{
        flex-direction: column;
    }
    #sc_3{
        padding: 5px;
    }
    .price_content{
        padding: 5px;
    }
    .price_content .price_item{
        width: calc(100% - 60px);
    }
    #sc_5{
        padding: 5px;
    }
    .client_content{
        padding: 5px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .client_content .content_item{
        width: calc(50% - 40px);
        margin-bottom: 30px;
    }
    footer{
        padding: 190px 0px 10px 0px;
    }
    .content_footer .footer_menu .footer_payment{
        flex-wrap: wrap;
    }
    .content_footer .footer_menu .footer_payment img {
        width: calc(50% - 10px);
    }
    .content_footer{
        flex-direction: row;
    }
    .content_footer .footer_menu{
        width: calc(50% - 40px);
    }
    .social_media{
        display: flex;
        flex-wrap: wrap;
    }
    .content_footer .footer_service .social_media img {
        width: calc(50% - 20px);
    }
}

/* Tablet style */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .homeContent{
        width: 100%;
    }
    .imgDekstop{
        display: none;
    }
    .homeForm{
        flex-direction: row;
    }
    .sc_content{
        flex-direction: column;
    }
    .sc_item{
        width: 100%;
        padding: 0;
    }
    .price_content{
        padding: 0;
    }
    .price_content .price_item{
        width: calc(50% - 60px);
    }
    .content_footer .footer_menu{
        width: calc(50% - 40px);
    }
    .quote-slide{
        flex-direction: column;
    }
}

/* Extra large devices */
@media only screen and (min-width: 1441px) {
    .container{
        max-width: 1360px;
        margin: auto
    }
    nav{
        max-width: 1360px;
        margin: auto;
    }
}
